In [ ]:
import pandas as pd

# Replace "salary_data.csv" with your actual file name
data = pd.read_csv("/content/Salaries(exercise).csv")
average_base_pay = data["BasePay"].mean()
print("Average BasePay:", average_base_pay)

Average BasePay: 69878.0839363012

In [ ]:
import pandas as pd

# Replace "salary_data.csv" with your actual file name
data = pd.read_csv("/content/Salaries(exercise).csv")
highest_overtime_pay = data["OvertimePay"].max()
print("Highest Overtime Pay:", highest_overtime_pay)

Highest Overtime Pay: 245131.88

In [ ]:
import pandas as pd

# Replace "salary_data.csv" with your actual file name
data = pd.read_csv("/content/Salaries(exercise).csv")

# Filter for JOSEPH DRISCOLL (case-sensitive) and get job title
job_title = data[data['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].values[0]

print("Job Title:", job_title)

Job Title: CAPTAIN, FIRE SUPPRESSION

In [ ]:
import pandas as pd

# Replace "salary_data.csv" with your actual file name
data = pd.read_csv("/content/Salaries(exercise).csv")


# Filter for JOSEPH DRISCOLL (case-sensitive) and get total pay with benefits
total_pay_benefits = data[data['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].values[0]

print("Total Pay (Including Benefits) for JOSEPH DRISCOLL:", total_pay_benefits)

Total Pay (Including Benefits) for JOSEPH DRISCOLL: 270324.91

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# New Section

In [ ]:
import pandas as pd

# Replace "salary_data.csv" with your actual file name
data = pd.read_csv("/content/Salaries(exercise).csv")

# Find row with highest TotalPayBenefits
highest_paid_row = data[data['TotalPayBenefits'] == data['TotalPayBenefits'].max()]

# Extract name from the row (assuming there's only one highest-paid person)
highest_paid_name = highest_paid_row['EmployeeName'].values[0]

print("Name of Highest Paid Person (Including Benefits):", highest_paid_name)

Name of Highest Paid Person (Including Benefits): NATHANIEL FORD

In [ ]:
import pandas as pd

# Replace "salary_data.csv" with your actual file name
data = pd.read_csv("/content/Salaries(exercise).csv")

# Find row with lowest TotalPayBenefits
lowest_paid_row = data[data['TotalPayBenefits'] == data['TotalPayBenefits'].min()]

# Extract name from the row (assuming there's only one lowest-paid person)
lowest_paid_name = lowest_paid_row['EmployeeName'].values[0]
lowest_pay_benefits = lowest_paid_row['TotalPayBenefits'].values[0]

# Check for negative or zero total pay (assuming anomaly)
is_anomaly = lowest_pay_benefits <= 0

print("Name of Lowest Paid Person (Including Benefits):", lowest_paid_name)
if is_anomaly:
    print("WARNING: The total pay for", lowest_paid_name, "is", lowest_pay_benefits, ". This might be an anomaly. Please investigate further.")
else:
    print("There seems to be no anomaly in the lowest total pay.")

Name of Lowest Paid Person (Including Benefits): Joe Lopez
WARNING: The total pay for Joe Lopez is -618.13 . This might be an anomaly. Please investigate further.

In [ ]:
import pandas as pd

# Replace "salary_data.csv" with your actual file name
data = pd.read_csv("/content/Salaries(exercise).csv")

# Select data for years 2011-2014 (assuming a 'Year' column)
data_filtered = data[data['Year'].isin([2011, 2012, 2013, 2014])]

# Group by year and calculate average BasePay
average_basepay_per_year = data_filtered.groupby('Year')['BasePay'].mean()

# Print results (consider using a loop for better formatting)
print("Average BasePay per Year (2011-2014):")
print(average_basepay_per_year)

Average BasePay per Year (2011-2014):
Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [ ]:
import pandas as pd

# Replace "salary_data.csv" with your actual file name
data = pd.read_csv("/content/Salaries(exercise).csv")

# Count unique job titles using nunique()
unique_job_titles = data['JobTitle'].nunique()

print("Number of Unique Job Titles:", unique_job_titles)

Number of Unique Job Titles: 2159

In [ ]:
import pandas as pd

# Replace "salary_data.csv" with your actual file name
data = pd.read_csv("/content/Salaries(exercise).csv")


# Create a Series with job title counts
job_title_counts = data['JobTitle'].value_counts()

# Get the top 5 most common job titles
top_5_jobs = job_title_counts.nlargest(5)

# Print the results (consider using enumerate for better formatting)
print("Top 5 Most Common Jobs:")
print(top_5_jobs)

Top 5 Most Common Jobs:
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [3]:
import pandas as pd

data = pd.read_csv("/content/Salaries(exercise).csv")
# Filter data for year 2013
data_2013 = data[data['Year'] == 2013]

# Count unique job titles with size 1 (one occurrence)
unique_job_titles_2013 = (data_2013['JobTitle'].value_counts() == 1).sum()

# Print the result
print("Number of Job Titles Represented by One Person in 2013:", unique_job_titles_2013)

Number of Job Titles Represented by One Person in 2013: 202

In [11]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("/content/Salaries(exercise).csv")

# Assuming the column name is 'JobTitle'
column = df['JobTitle']

# Count the number of times the word "Chief" appears in each sentence
counts = column.str.contains("Chief").sum()

# Print the number of occurrences of the word
print(f"The number of times the word 'Chief' appears is {counts}")

The number of times the word 'Chief' appears is 423

In [13]:
import pandas as pd
import numpy as np

# Load the CSV file
df = pd.read_csv("/content/Salaries(exercise).csv")

# Assuming the column names are 'JobTitle' and 'Salary'
job_titles = df['JobTitle']
salaries = df['TotalPayBenefits']

# Calculate the length of each job title
job_title_lengths = [len(title) for title in job_titles]

# Calculate the correlation coefficient between job title length and salary
correlation = np.corrcoef(job_title_lengths, salaries)[0, 1]

# Print the correlation coefficient
print(f"The correlation coefficient between job title length and salary is {correlation}")

The correlation coefficient between job title length and salary is -0.036878445932606675